This file contains the group work for Stage II task 1.

In [1]:
import numpy as np
import pandas as pd

First we need to re-import the merged dataframe that we created for Stage I.

In [2]:
dfMerged = pd.read_csv("Data/ProjectDataStage1WIDEFORMAT.csv")

dfMerged.head(50)

,Unnamed: 0,countyFIPS,County Name,State,population,2020-01-22_Cases,2020-01-23_Cases,2020-01-24_Cases,2020-01-25_Cases,2020-01-26_Cases,...,2023-07-14_Deaths,2023-07-15_Deaths,2023-07-16_Deaths,2023-07-17_Deaths,2023-07-18_Deaths,2023-07-19_Deaths,2023-07-20_Deaths,2023-07-21_Deaths,2023-07-22_Deaths,2023-07-23_Deaths
0,0,0,Statewide Unallocated,AL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1001,Autauga County,AL,55869,0,0,0,0,0,...,235,235,235,235,235,235,235,235,235,235
2,2,1003,Baldwin County,AL,223234,0,0,0,0,0,...,731,731,731,731,731,731,731,731,731,731
3,3,1005,Barbour County,AL,24686,0,0,0,0,0,...,104,104,104,104,104,104,104,104,104,104
4,4,1007,Bibb County,AL,22394,0,0,0,0,0,...,111,111,111,111,111,111,111,111,111,111
5,5,1009,Blount County,AL,57826,0,0,0,0,0,...,261,261,261,261,261,261,261,261,261,261
6,6,1011,Bullock County,AL,10101,0,0,0,0,0,...,54,54,54,54,54,54,54,54,54,54
7,7,1013,Butler County,AL,19448,0,0,0,0,0,...,132,132,132,132,132,132,132,132,132,132
8,8,1015,Calhoun County,AL,113605,0,0,0,0,0,...,683,683,683,683,683,683,683,683,683,683
9,9,1017,Chambers County,AL,33254,0,0,0,0,0,...,172,172,172,172,172,172,172,172,172,172
10,10,1019,Cherokee County,AL,26196,0,0,0,0,0,...,89,89,89,89,89,89,89,89,89,89
11,11,1021,Chilton County,AL,44428,0,0,0,0,0,...,221,221,221,221,221,221,221,221,221,221
12,12,1023,Choctaw County,AL,12589,0,0,0,0,0,...,39,39,39,39,39,39,39,39,39,39
13,13,1025,Clarke County,AL,23622,0,0,0,0,0,...,107,107,107,107,107,107,107,107,107,107
14,14,1027,Clay County,AL,13235,0,0,0,0,0,...,94,94,94,94,94,94,94,94,94,94
15,15,1029,Cleburne County,AL,14910,0,0,0,0,0,...,73,73,73,73,73,73,73,73,73,73
16,16,1031,Coffee County,AL,52342,0,0,0,0,0,...,246,246,246,246,246,246,246,246,246,246
17,17,1033,Colbert County,AL,55241,0,0,0,0,0,...,279,279,279,279,279,279,279,279,279,279
18,18,1035,Conecuh County,AL,12067,0,0,0,0,0,...,76,76,76,76,76,76,76,76,76,76
19,19,1037,Coosa County,AL,10663,0,0,0,0,0,...,64,64,64,64,64,64,64,64,64,64
20,20,1039,Covington County,AL,37049,0,0,0,0,0,...,266,266,266,266,266,266,266,266,266,266
21,21,1041,Crenshaw County,AL,13772,0,0,0,0,0,...,111,111,111,111,111,111,111,111,111,111
22,22,1043,Cullman County,AL,83768,0,0,0,0,0,...,400,400,400,400,400,400,400,400,400,400
23,23,1045,Dale County,AL,49172,0,0,0,0,0,...,245,245,245,245,245,245,245,245,245,245
24,24,1047,Dallas County,AL,37196,0,0,0,0,0,...,260,260,260,260,260,260,260,260,260,260
25,25,1049,DeKalb County,AL,71513,0,0,0,0,0,...,347,347,347,347,347,347,347,347,347,347
26,26,1051,Elmore County,AL,81209,0,0,0,0,0,...,364,364,364,364,364,364,364,364,364,364
27,27,1053,Escambia County,AL,36633,0,0,0,0,0,...,181,181,181,181,181,181,181,181,181,181
28,28,1055,Etowah County,AL,102268,0,0,0,0,0,...,696,696,696,696,696,696,696,696,696,696
29,29,1057,Fayette County,AL,16302,0,0,0,0,0,...,100,100,100,100,100,100,100,100,100,100
30,30,1059,Franklin County,AL,31362,0,0,0,0,0,...,154,154,154,154,154,154,154,154,154,154
31,31,1061,Geneva County,AL,26271,0,0,0,0,0,...,174,174,174,174,174,174,174,174,174,174
32,32,1063,Greene County,AL,8111,0,0,0,0,0,...,54,54,54,54,54,54,54,54,54,54
33,33,1065,Hale County,AL,14651,0,0,0,0,0,...,110,110,110,110,110,110,110,110,110,110
34,34,1067,Henry County,AL,17205,0,0,0,0,0,...,79,79,79,79,79,79,79,79,79,79
35,35,1069,Houston County,AL,105882,0,0,0,0,0,...,532,532,532,532,532,532,532,532,532,532
36,36,1071,Jackson County,AL,51626,0,0,0,0,0,...,257,257,257,257,257,257,257,257,257,257
37,37,1073,Jefferson County,AL,658573,0,0,0,0,0,...,2536,2536,2536,2536,2536,2536,2536,2536,2536,2536
38,38,1075,Lamar County,AL,13805,0,0,0,0,0,...,74,74,74,74,74,74,74,74,74,74
39,39,1077,Lauderdale County,AL,92729,0,0,0,0,0,...,423,423,423,423,423,423,423,423,423,423
40,40,1079,Lawrence County,AL,32924,0,0,0,0,0,...,181,181,181,181,181,181,181,181,181,181
41,41,1081,Lee County,AL,164542,0,0,0,0,0,...,373,373,373,373,373,373,373,373,373,373
42,42,1083,Limestone County,AL,98915,0,0,0,0,0,...,324,324,324,324,324,324,324,324,324,324
43,43,1085,Lowndes County,AL,9726,0,0,0,0,0,...,81,81,81,81,81,81,81,81,81,81
44,44,1087,Macon County,AL,18068,0,0,0,0,0,...,90,90,90,90,90,90,90,90,90,90
45,45,1089,Madison County,AL,372909,0,0,0,0,0,...,1068,1068,1068,1068,1068,1068,1068,1068,1068,1068
46,46,1091,Marengo County,AL,18863,0,0,0,0,0,...,116,116,116,116,116,116,116,116,116,116
47,47,1093,Marion County,AL,29709,0,0,0,0,0,...,161,161,161,161,161,161,161,161,161,161
48,48,1095,Marshall County,AL,96774,0,0,0,0,0,...,411,411,411,411,411,411,411,411,411,411
49,49,1097,Mobile County,AL,413210,0,0,0,0,0,...,1810,1810,1810,1810,1810,1810,1810,1810,1810,1810

Our first step will be to chop up the dataset to reduce the scope of the data. For this stage, we are only interested in data that falls between July 2020 and December 2020.

In [3]:
# Create a duplicate of dfMerged
df = dfMerged.copy()

# Identify columns to drop based on column headers.
# If a column is in one of the ranges that we want, and contains 'Cases' or 'Deaths', it is going to be removed
columns_to_drop = [col for col in df.columns if (('2020-01-22' <= col <= '2020-06-01') or ('2021-01-01' <= col)) and
                                                  (('Cases' in col) or ('Deaths' in col))]

# Drop the identified columns
df.drop(columns=columns_to_drop, inplace=True)

# Now, df contains a copy of dfMerged with only the data we want for this stage.

df.head(5)

,Unnamed: 0,countyFIPS,County Name,State,population,2020-06-01_Cases,2020-06-02_Cases,2020-06-03_Cases,2020-06-04_Cases,2020-06-05_Cases,...,2020-12-22_Deaths,2020-12-23_Deaths,2020-12-24_Deaths,2020-12-25_Deaths,2020-12-26_Deaths,2020-12-27_Deaths,2020-12-28_Deaths,2020-12-29_Deaths,2020-12-30_Deaths,2020-12-31_Deaths
0,0,0,Statewide Unallocated,AL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1001,Autauga County,AL,55869,233,238,239,241,248,...,44,46,46,46,46,47,47,47,48,48
2,2,1003,Baldwin County,AL,223234,292,292,292,293,296,...,149,151,151,151,151,152,152,156,160,161
3,3,1005,Barbour County,AL,24686,172,175,177,177,183,...,32,32,32,32,32,32,32,32,32,32
4,4,1007,Bibb County,AL,22394,76,76,76,76,76,...,42,42,42,42,42,42,42,42,46,46

With the prerequisite work complete, we can start answering the questions in this stage of the project.

## Compare the weekly statistics (mean, median, mode) for number of cases and deaths across US.

To do this we will create a new dataframe that contains data from across the US in a single week.

In [4]:
# Filter columns that contain 'Cases' or 'Deaths' in their names
cases_df = df.filter(like='Cases', axis=1)  # Columns containing 'Cases'
deaths_df = df.filter(like='Deaths', axis=1)   # Columns containing 'Deaths'

cases_df.head()

,2020-06-01_Cases,2020-06-02_Cases,2020-06-03_Cases,2020-06-04_Cases,2020-06-05_Cases,2020-06-06_Cases,2020-06-07_Cases,2020-06-08_Cases,2020-06-09_Cases,2020-06-10_Cases,...,2020-12-22_Cases,2020-12-23_Cases,2020-12-24_Cases,2020-12-25_Cases,2020-12-26_Cases,2020-12-27_Cases,2020-12-28_Cases,2020-12-29_Cases,2020-12-30_Cases,2020-12-31_Cases
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,233,238,239,241,248,259,265,272,282,295,...,3841,3889,3942,3990,3999,4029,4065,4105,4164,4190
2,292,292,292,293,296,304,313,320,325,331,...,12155,12321,12521,12666,12708,12825,12962,13172,13392,13601
3,172,175,177,177,183,190,193,197,199,208,...,1363,1383,1390,1396,1398,1406,1417,1462,1492,1514
4,76,76,76,76,76,77,77,79,85,89,...,1660,1683,1711,1725,1739,1746,1762,1792,1817,1834

In [5]:
deaths_df.head()

,2020-06-01_Deaths,2020-06-02_Deaths,2020-06-03_Deaths,2020-06-04_Deaths,2020-06-05_Deaths,2020-06-06_Deaths,2020-06-07_Deaths,2020-06-08_Deaths,2020-06-09_Deaths,2020-06-10_Deaths,...,2020-12-22_Deaths,2020-12-23_Deaths,2020-12-24_Deaths,2020-12-25_Deaths,2020-12-26_Deaths,2020-12-27_Deaths,2020-12-28_Deaths,2020-12-29_Deaths,2020-12-30_Deaths,2020-12-31_Deaths
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,5,5,5,5,5,5,5,5,5,6,...,44,46,46,46,46,47,47,47,48,48
2,9,9,9,9,9,9,9,9,9,9,...,149,151,151,151,151,152,152,156,160,161
3,1,1,1,1,1,1,1,1,1,1,...,32,32,32,32,32,32,32,32,32,32
4,1,1,1,1,1,1,1,1,1,1,...,42,42,42,42,42,42,42,42,46,46

In [6]:
# Create a new DataFrame with a single row containing the sum of each column, to represent the US's collective statistics
cases_US = cases_df.sum(axis=0).to_frame().T

cases_US.head()

,2020-06-01_Cases,2020-06-02_Cases,2020-06-03_Cases,2020-06-04_Cases,2020-06-05_Cases,2020-06-06_Cases,2020-06-07_Cases,2020-06-08_Cases,2020-06-09_Cases,2020-06-10_Cases,...,2020-12-22_Cases,2020-12-23_Cases,2020-12-24_Cases,2020-12-25_Cases,2020-12-26_Cases,2020-12-27_Cases,2020-12-28_Cases,2020-12-29_Cases,2020-12-30_Cases,2020-12-31_Cases
0,1825083,1846878,1868250,1890173,1919057,1942844,1961192,1977756,1997208,2019231,...,18204174,18416088,18609135,18704673,18833238,18959735,19201773,19460991,19743342,19980329

In [7]:
deaths_US = deaths_df.sum(axis=0).to_frame().T

deaths_US.head()

,2020-06-01_Deaths,2020-06-02_Deaths,2020-06-03_Deaths,2020-06-04_Deaths,2020-06-05_Deaths,2020-06-06_Deaths,2020-06-07_Deaths,2020-06-08_Deaths,2020-06-09_Deaths,2020-06-10_Deaths,...,2020-12-22_Deaths,2020-12-23_Deaths,2020-12-24_Deaths,2020-12-25_Deaths,2020-12-26_Deaths,2020-12-27_Deaths,2020-12-28_Deaths,2020-12-29_Deaths,2020-12-30_Deaths,2020-12-31_Deaths
0,105073,106295,107283,108255,109350,110131,110589,111212,112156,113037,...,328950,332017,335328,336496,338748,340430,344373,348147,351694,355294

In [8]:
# Convert the DataFrame to a NumPy array
cases_array = cases_US.to_numpy()

# Calculate the mean for every 7 columns
num_columns = cases_array.shape[1]
window_size = 7
means = []

for i in range(0, num_columns, window_size):
    window = cases_array[:, i:i+window_size]
    window_mean = np.mean(window)
    means.append(window_mean)

# Create a new DataFrame to store the means
cases_mean_df = pd.DataFrame({'Mean': means})

# Print the DataFrame with means and the week number
for week_number, mean in enumerate(means, start=1):
    print(f"The mean number of cases for week {week_number} was: {mean:.0f}")

The mean number of cases for week 1 was: 1893354
The mean number of cases for week 2 was: 2045455
The mean number of cases for week 3 was: 2225338
The mean number of cases for week 4 was: 2474633
The mean number of cases for week 5 was: 2805742
The mean number of cases for week 6 was: 3195185
The mean number of cases for week 7 was: 3651967
The mean number of cases for week 8 was: 4110778
The mean number of cases for week 9 was: 4541723
The mean number of cases for week 10 was: 4924817
The mean number of cases for week 11 was: 5267658
The mean number of cases for week 12 was: 5568707
The mean number of cases for week 13 was: 5850238
The mean number of cases for week 14 was: 6128422
The mean number of cases for week 15 was: 6375324
The mean number of cases for week 16 was: 6643081
The mean number of cases for week 17 was: 6941630
The mean number of cases for week 18 was: 7239341
The mean number of cases for week 19 was: 7560917
The mean number of cases for week 20 was: 7936075
The mean number of cases for week 21 was: 8369732
The mean number of cases for week 22 was: 8906998
The mean number of cases for week 23 was: 9651262
The mean number of cases for week 24 was: 10602182
The mean number of cases for week 25 was: 11752043
The mean number of cases for week 26 was: 12956121
The mean number of cases for week 27 was: 14229891
The mean number of cases for week 28 was: 15719430
The mean number of cases for week 29 was: 17221453
The mean number of cases for week 30 was: 18533871
The mean number of cases for week 31 was: 19596609

## You can see that the mean number of cases is increasing every week.

In [9]:
# Convert the DataFrame to a NumPy array
deaths_array = deaths_US.to_numpy()

# Calculate the mean for every 7 columns
num_columns = deaths_array.shape[1]
window_size = 7
means = []

for i in range(0, num_columns, window_size):
    window = deaths_array[:, i:i+window_size]
    window_mean = np.mean(window)
    means.append(window_mean)

# Create a new DataFrame to store the means
deaths_mean_df = pd.DataFrame({'Mean': means})

# Print the DataFrame with means and the week number
for week_number, mean in enumerate(means, start=1):
    print(f"The mean number of deaths for week {week_number} was: {mean:.0f}")

The mean number of deaths for week 1 was: 108139
The mean number of deaths for week 2 was: 113747
The mean number of deaths for week 3 was: 118436
The mean number of deaths for week 4 was: 123308
The mean number of deaths for week 5 was: 129459
The mean number of deaths for week 6 was: 134606
The mean number of deaths for week 7 was: 140827
The mean number of deaths for week 8 was: 147835
The mean number of deaths for week 9 was: 155347
The mean number of deaths for week 10 was: 162891
The mean number of deaths for week 11 was: 170215
The mean number of deaths for week 12 was: 176856
The mean number of deaths for week 13 was: 183037
The mean number of deaths for week 14 was: 188717
The mean number of deaths for week 15 was: 193515
The mean number of deaths for week 16 was: 198672
The mean number of deaths for week 17 was: 203531
The mean number of deaths for week 18 was: 208193
The mean number of deaths for week 19 was: 212867
The mean number of deaths for week 20 was: 217750
The mean number of deaths for week 21 was: 223298
The mean number of deaths for week 22 was: 229174
The mean number of deaths for week 23 was: 236022
The mean number of deaths for week 24 was: 244240
The mean number of deaths for week 25 was: 254018
The mean number of deaths for week 26 was: 265782
The mean number of deaths for week 27 was: 279465
The mean number of deaths for week 28 was: 296582
The mean number of deaths for week 29 was: 315830
The mean number of deaths for week 30 was: 334048
The mean number of deaths for week 31 was: 349877

## The number of deaths is increasing every week as well.

In [10]:
# Calculate the median for every 7 columns
num_columns = cases_array.shape[1]
window_size = 7
medians = []

for i in range(0, num_columns, window_size):
    window = cases_array[:, i:i+window_size]
    window_median = np.median(window)
    medians.append(window_median)

# Create a new DataFrame to store the medians
cases_median_df = pd.DataFrame({'Median': medians})

# Print the DataFrame with medians and the week number
for week_number, median in enumerate(medians, start=1):
    print(f"The median number of cases for week {week_number} was: {median:.0f}")

The median number of cases for week 1 was: 1890173
The median number of cases for week 2 was: 2042796
The median number of cases for week 3 was: 2221307
The median number of cases for week 4 was: 2469820
The median number of cases for week 5 was: 2806125
The median number of cases for week 6 was: 3192412
The median number of cases for week 7 was: 3650129
The median number of cases for week 8 was: 4110042
The median number of cases for week 9 was: 4544039
The median number of cases for week 10 was: 4924448
The median number of cases for week 11 was: 5269001
The median number of cases for week 12 was: 5568617
The median number of cases for week 13 was: 5851905
The median number of cases for week 14 was: 6127125
The median number of cases for week 15 was: 6370043
The median number of cases for week 16 was: 6643428
The median number of cases for week 17 was: 6938431
The median number of cases for week 18 was: 7238678
The median number of cases for week 19 was: 7561231
The median number of cases for week 20 was: 7936901
The median number of cases for week 21 was: 8365540
The median number of cases for week 22 was: 8894252
The median number of cases for week 23 was: 9651604
The median number of cases for week 24 was: 10589003
The median number of cases for week 25 was: 11748324
The median number of cases for week 26 was: 12942892
The median number of cases for week 27 was: 14233644
The median number of cases for week 28 was: 15728458
The median number of cases for week 29 was: 17231388
The median number of cases for week 30 was: 18609135
The median number of cases for week 31 was: 19602166

In [11]:
# Calculate the median for every 7 columns
num_columns = deaths_array.shape[1]
window_size = 7
medians = []

for i in range(0, num_columns, window_size):
    window = deaths_array[:, i:i+window_size]
    window_median = np.median(window)
    medians.append(window_median)

# Create a new DataFrame to store the medians
deaths_median_df = pd.DataFrame({'Median': medians})

# Print the DataFrame with medians and the week number
for week_number, median in enumerate(medians, start=1):
    print(f"The median number of deaths for week {week_number} was: {median:.0f}")

The median number of deaths for week 1 was: 108255
The median number of deaths for week 2 was: 113883
The median number of deaths for week 3 was: 118505
The median number of deaths for week 4 was: 122864
The median number of deaths for week 5 was: 129630
The median number of deaths for week 6 was: 134701
The median number of deaths for week 7 was: 140903
The median number of deaths for week 8 was: 147898
The median number of deaths for week 9 was: 155603
The median number of deaths for week 10 was: 162998
The median number of deaths for week 11 was: 170366
The median number of deaths for week 12 was: 177002
The median number of deaths for week 13 was: 183212
The median number of deaths for week 14 was: 188801
The median number of deaths for week 15 was: 193619
The median number of deaths for week 16 was: 198834
The median number of deaths for week 17 was: 203674
The median number of deaths for week 18 was: 208272
The median number of deaths for week 19 was: 212902
The median number of deaths for week 20 was: 217861
The median number of deaths for week 21 was: 223401
The median number of deaths for week 22 was: 229250
The median number of deaths for week 23 was: 236235
The median number of deaths for week 24 was: 244259
The median number of deaths for week 25 was: 254330
The median number of deaths for week 26 was: 265955
The median number of deaths for week 27 was: 279600
The median number of deaths for week 28 was: 296483
The median number of deaths for week 29 was: 316133
The median number of deaths for week 30 was: 335328
The median number of deaths for week 31 was: 349920

In [12]:
from scipy import stats

# Calculate the mode for every 7 columns
num_columns = cases_array.shape[1]
window_size = 7
modes = []

for i in range(0, num_columns, window_size):
    window = cases_array[:, i:i+window_size]
    window_mode, _ = stats.mode(window, axis=None, keepdims=True)  # Specify keepdims=True to avoid annoying warning
    modes.append(window_mode[0])  # Get the mode value

# Create a new DataFrame to store the modes
cases_mode_df = pd.DataFrame({'Mode': modes})

# Print the DataFrame with modes and the week number
for week_number, mode in enumerate(modes, start=1):
    print(f"The mode number of cases for week {week_number} was: {mode:.0f}")

The mode number of cases for week 1 was: 1825083
The mode number of cases for week 2 was: 1977756
The mode number of cases for week 3 was: 2135801
The mode number of cases for week 4 was: 2346696
The mode number of cases for week 5 was: 2644956
The mode number of cases for week 6 was: 3005789
The mode number of cases for week 7 was: 3442018
The mode number of cases for week 8 was: 3911651
The mode number of cases for week 9 was: 4354188
The mode number of cases for week 10 was: 4760076
The mode number of cases for week 11 was: 5118655
The mode number of cases for week 12 was: 5441156
The mode number of cases for week 13 was: 5723072
The mode number of cases for week 14 was: 6003057
The mode number of cases for week 15 was: 6273262
The mode number of cases for week 16 was: 6518526
The mode number of cases for week 17 was: 6802812
The mode number of cases for week 18 was: 7105453
The mode number of cases for week 19 was: 7408589
The mode number of cases for week 20 was: 7758835
The mode number of cases for week 21 was: 8166698
The mode number of cases for week 22 was: 8650019
The mode number of cases for week 23 was: 9306955
The mode number of cases for week 24 was: 10133707
The mode number of cases for week 25 was: 11224810
The mode number of cases for week 26 was: 12449233
The mode number of cases for week 27 was: 13580887
The mode number of cases for week 28 was: 15027940
The mode number of cases for week 29 was: 16552423
The mode number of cases for week 30 was: 18010051
The mode number of cases for week 31 was: 19201773

In [13]:
# Calculate the mode for every 7 columns
num_columns = deaths_array.shape[1]
window_size = 7
modes = []

for i in range(0, num_columns, window_size):
    window = deaths_array[:, i:i+window_size]
    window_mode, _ = stats.mode(window, axis=None, keepdims=True)
    modes.append(window_mode[0])  # Get the mode value

# Create a new DataFrame to store the modes
deaths_mode_df = pd.DataFrame({'Mode': modes})

# Print the DataFrame with modes and the week number
for week_number, mode in enumerate(modes, start=1):
    print(f"The mode number of deaths for week {week_number} was: {mode:.0f}")

The mode number of deaths for week 1 was: 105073
The mode number of deaths for week 2 was: 111212
The mode number of deaths for week 3 was: 116310
The mode number of deaths for week 4 was: 120632
The mode number of deaths for week 5 was: 126840
The mode number of deaths for week 6 was: 131791
The mode number of deaths for week 7 was: 137763
The mode number of deaths for week 8 was: 144338
The mode number of deaths for week 9 was: 151670
The mode number of deaths for week 10 was: 159346
The mode number of deaths for week 11 was: 166687
The mode number of deaths for week 12 was: 173809
The mode number of deaths for week 13 was: 179988
The mode number of deaths for week 14 was: 186151
The mode number of deaths for week 15 was: 191287
The mode number of deaths for week 16 was: 196097
The mode number of deaths for week 17 was: 201050
The mode number of deaths for week 18 was: 205926
The mode number of deaths for week 19 was: 210434
The mode number of deaths for week 20 was: 215462
The mode number of deaths for week 21 was: 220561
The mode number of deaths for week 22 was: 226403
The mode number of deaths for week 23 was: 232382
The mode number of deaths for week 24 was: 240311
The mode number of deaths for week 25 was: 248807
The mode number of deaths for week 26 was: 260531
The mode number of deaths for week 27 was: 271983
The mode number of deaths for week 28 was: 288120
The mode number of deaths for week 29 was: 306639
The mode number of deaths for week 30 was: 326365
The mode number of deaths for week 31 was: 344373

## No surprises here, both the median and mode for both cases and deaths is increasing every week.