In [1]:
import pandas as pd 
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt



data = pd.read_csv(r"C:\Users\mawul\Downloads\ProjectDataStage1.csv") # reading the csv file 
data

,Unnamed: 0,countyFIPS,County Name,State,population,2020-01-22_Cases,2020-01-23_Cases,2020-01-24_Cases,2020-01-25_Cases,2020-01-26_Cases,...,2023-07-14_Deaths,2023-07-15_Deaths,2023-07-16_Deaths,2023-07-17_Deaths,2023-07-18_Deaths,2023-07-19_Deaths,2023-07-20_Deaths,2023-07-21_Deaths,2023-07-22_Deaths,2023-07-23_Deaths
0,0,0,Statewide Unallocated,AL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1001,Autauga County,AL,55869,0,0,0,0,0,...,235,235,235,235,235,235,235,235,235,235
2,2,1003,Baldwin County,AL,223234,0,0,0,0,0,...,731,731,731,731,731,731,731,731,731,731
3,3,1005,Barbour County,AL,24686,0,0,0,0,0,...,104,104,104,104,104,104,104,104,104,104
4,4,1007,Bibb County,AL,22394,0,0,0,0,0,...,111,111,111,111,111,111,111,111,111,111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,3188,56033,Sheridan County,WY,30485,0,0,0,0,0,...,142,142,142,142,142,142,142,142,142,142
3189,3189,56035,Sublette County,WY,9831,0,0,0,0,0,...,16,16,16,16,16,16,16,16,16,16
3190,3190,56037,Sweetwater County,WY,42343,0,0,0,0,0,...,43,43,43,43,43,43,43,43,43,43
3191,3191,56039,Teton County,WY,23464,0,0,0,0,0,...,51,51,51,51,51,51,51,51,51,51
3192,3192,56041,Uinta County,WY,20226,0,0,0,0,0,...,24,24,24,24,24,24,24,24,24,24

In [3]:
data1 = data.copy() #making a copy 
data1

,Unnamed: 0,countyFIPS,County Name,State,population,2020-01-22_Cases,2020-01-23_Cases,2020-01-24_Cases,2020-01-25_Cases,2020-01-26_Cases,...,2023-07-14_Deaths,2023-07-15_Deaths,2023-07-16_Deaths,2023-07-17_Deaths,2023-07-18_Deaths,2023-07-19_Deaths,2023-07-20_Deaths,2023-07-21_Deaths,2023-07-22_Deaths,2023-07-23_Deaths
0,0,0,Statewide Unallocated,AL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1001,Autauga County,AL,55869,0,0,0,0,0,...,235,235,235,235,235,235,235,235,235,235
2,2,1003,Baldwin County,AL,223234,0,0,0,0,0,...,731,731,731,731,731,731,731,731,731,731
3,3,1005,Barbour County,AL,24686,0,0,0,0,0,...,104,104,104,104,104,104,104,104,104,104
4,4,1007,Bibb County,AL,22394,0,0,0,0,0,...,111,111,111,111,111,111,111,111,111,111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,3188,56033,Sheridan County,WY,30485,0,0,0,0,0,...,142,142,142,142,142,142,142,142,142,142
3189,3189,56035,Sublette County,WY,9831,0,0,0,0,0,...,16,16,16,16,16,16,16,16,16,16
3190,3190,56037,Sweetwater County,WY,42343,0,0,0,0,0,...,43,43,43,43,43,43,43,43,43,43
3191,3191,56039,Teton County,WY,23464,0,0,0,0,0,...,51,51,51,51,51,51,51,51,51,51
3192,3192,56041,Uinta County,WY,20226,0,0,0,0,0,...,24,24,24,24,24,24,24,24,24,24

In [9]:
data2 = pd.DataFrame(data1)  #putting it into a dataframe 

data2

,Unnamed: 0,countyFIPS,County Name,State,population,2020-01-22_Cases,2020-01-23_Cases,2020-01-24_Cases,2020-01-25_Cases,2020-01-26_Cases,...,2023-07-14_Deaths,2023-07-15_Deaths,2023-07-16_Deaths,2023-07-17_Deaths,2023-07-18_Deaths,2023-07-19_Deaths,2023-07-20_Deaths,2023-07-21_Deaths,2023-07-22_Deaths,2023-07-23_Deaths
0,0,0,Statewide Unallocated,AL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1001,Autauga County,AL,55869,0,0,0,0,0,...,235,235,235,235,235,235,235,235,235,235
2,2,1003,Baldwin County,AL,223234,0,0,0,0,0,...,731,731,731,731,731,731,731,731,731,731
3,3,1005,Barbour County,AL,24686,0,0,0,0,0,...,104,104,104,104,104,104,104,104,104,104
4,4,1007,Bibb County,AL,22394,0,0,0,0,0,...,111,111,111,111,111,111,111,111,111,111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,3188,56033,Sheridan County,WY,30485,0,0,0,0,0,...,142,142,142,142,142,142,142,142,142,142
3189,3189,56035,Sublette County,WY,9831,0,0,0,0,0,...,16,16,16,16,16,16,16,16,16,16
3190,3190,56037,Sweetwater County,WY,42343,0,0,0,0,0,...,43,43,43,43,43,43,43,43,43,43
3191,3191,56039,Teton County,WY,23464,0,0,0,0,0,...,51,51,51,51,51,51,51,51,51,51
3192,3192,56041,Uinta County,WY,20226,0,0,0,0,0,...,24,24,24,24,24,24,24,24,24,24

In [44]:
columns_to_drop = [col for col in data2.columns if (('2020-01-22' <= col <= '2020-07-05') or ('2020-12-28' <= col)) and
                                                  (('Cases' in col) or ('Deaths' in col))]


data2.drop(columns=columns_to_drop, inplace=True)  #dropping columns of unwanted dates

In [45]:
data2

,Unnamed: 0,countyFIPS,County Name,State,population,2020-07-05_Cases,2020-07-06_Cases,2020-07-07_Cases,2020-07-08_Cases,2020-07-09_Cases,...,2020-12-18_Deaths,2020-12-19_Deaths,2020-12-20_Deaths,2020-12-21_Deaths,2020-12-22_Deaths,2020-12-23_Deaths,2020-12-24_Deaths,2020-12-25_Deaths,2020-12-26_Deaths,2020-12-27_Deaths
0,0,0,Statewide Unallocated,AL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1001,Autauga County,AL,55869,615,618,644,651,661,...,44,44,44,44,44,46,46,46,46,47
2,2,1003,Baldwin County,AL,223234,881,911,997,1056,1131,...,146,147,147,147,149,151,151,151,151,152
3,3,1005,Barbour County,AL,24686,352,356,360,366,371,...,30,32,32,32,32,32,32,32,32,32
4,4,1007,Bibb County,AL,22394,193,197,199,201,211,...,42,42,42,42,42,42,42,42,42,42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,3188,56033,Sheridan County,WY,30485,106,113,122,124,126,...,15,15,15,15,15,15,15,15,15,15
3189,3189,56035,Sublette County,WY,9831,140,145,146,149,149,...,2,2,2,2,2,2,2,2,2,2
3190,3190,56037,Sweetwater County,WY,42343,184,190,190,192,198,...,7,7,7,7,7,7,7,7,7,7
3191,3191,56039,Teton County,WY,23464,39,39,40,42,42,...,11,11,11,11,11,11,11,11,11,11
3192,3192,56041,Uinta County,WY,20226,2,1,1,1,1,...,2,2,2,2,2,2,2,2,2,2

In [46]:
data2[data2['State'].str.contains('MA')]  #filtering out massachusetts

,Unnamed: 0,countyFIPS,County Name,State,population,2020-07-05_Cases,2020-07-06_Cases,2020-07-07_Cases,2020-07-08_Cases,2020-07-09_Cases,...,2020-12-18_Deaths,2020-12-19_Deaths,2020-12-20_Deaths,2020-12-21_Deaths,2020-12-22_Deaths,2020-12-23_Deaths,2020-12-24_Deaths,2020-12-25_Deaths,2020-12-26_Deaths,2020-12-27_Deaths
1239,1239,0,Statewide Unallocated,MA,0,1557,1561,1561,1563,1566,...,213,215,217,217,217,217,226,217,217,217
1240,1240,25001,Barnstable County,MA,212990,602,604,604,604,609,...,116,117,119,119,119,119,125,119,119,119
1241,1241,25003,Berkshire County,MA,124944,8321,8331,8348,8365,8399,...,989,993,995,995,995,995,1016,995,995,995
1242,1242,25005,Bristol County,MA,565217,51,51,51,53,55,...,0,0,0,0,0,0,0,0,0,0
1243,1243,25007,Dukes County,MA,17332,16254,16283,16318,16342,16379,...,1569,1578,1586,1586,1586,1586,1625,1586,1586,1586
1244,1244,25009,Essex County,MA,789034,373,373,373,376,381,...,82,82,84,84,84,84,88,84,84,84
1245,1245,25011,Franklin County,MA,70180,6870,6883,6895,6903,6932,...,991,994,1003,1003,1003,1003,1024,1003,1003,1003
1246,1246,25013,Hampden County,MA,466372,985,985,986,991,993,...,179,181,181,181,181,181,184,181,181,181
1247,1247,25015,Hampshire County,MA,160830,24153,24193,24243,24300,24348,...,2573,2582,2597,2597,2597,2597,2644,2597,2597,2597
1248,1248,25017,Middlesex County,MA,1611699,20,20,20,21,22,...,2,2,2,2,2,2,2,2,2,2
1249,1249,25019,Nantucket County,MA,11399,9273,9284,9306,9339,9384,...,1237,1243,1247,1247,1247,1247,1262,1247,1247,1247
1250,1250,25021,Norfolk County,MA,706775,8740,8748,8757,8765,8777,...,951,955,959,959,959,959,972,959,959,959
1251,1251,25023,Plymouth County,MA,521202,19985,20014,20048,20120,20172,...,1310,1312,1315,1315,1315,1315,1341,1315,1315,1315
1252,1252,25025,Suffolk County,MA,803907,12499,12515,12534,12562,12583,...,1392,1397,1406,1406,1406,1406,1448,1406,1406,1406
1253,1253,25027,Worcester County,MA,830622,4397,4421,4437,4442,4346,...,123,125,125,127,129,129,129,129,134,134

In [47]:
cases_df = data2.filter(like='Cases', axis=1)  #only case columns 
deaths_df = data2.filter(like='Deaths', axis=1)   #only death columns

In [48]:
cases_df

,2020-07-05_Cases,2020-07-06_Cases,2020-07-07_Cases,2020-07-08_Cases,2020-07-09_Cases,2020-07-10_Cases,2020-07-11_Cases,2020-07-12_Cases,2020-07-13_Cases,2020-07-14_Cases,...,2020-12-18_Cases,2020-12-19_Cases,2020-12-20_Cases,2020-12-21_Cases,2020-12-22_Cases,2020-12-23_Cases,2020-12-24_Cases,2020-12-25_Cases,2020-12-26_Cases,2020-12-27_Cases
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,615,618,644,651,661,670,684,706,728,746,...,3647,3698,3741,3780,3841,3889,3942,3990,3999,4029
2,881,911,997,1056,1131,1187,1224,1294,1359,1414,...,11556,11722,11827,11952,12155,12321,12521,12666,12708,12825
3,352,356,360,366,371,381,398,403,413,428,...,1318,1330,1336,1336,1363,1383,1390,1396,1398,1406
4,193,197,199,201,211,218,224,228,231,236,...,1577,1601,1613,1628,1660,1683,1711,1725,1739,1746
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,106,113,122,124,126,128,136,138,150,156,...,2696,2702,2718,2762,2780,2820,2820,2820,2845,2854
3189,140,145,146,149,149,150,155,157,162,164,...,1990,1992,2002,2019,2033,2039,2039,2039,2080,2080
3190,184,190,190,192,198,200,201,202,205,208,...,1399,1406,1416,1446,1460,1475,1475,1475,1495,1497
3191,39,39,40,42,42,42,43,43,43,43,...,690,695,699,713,720,726,726,726,747,747
3192,2,1,1,1,1,1,1,1,3,3,...,443,443,446,447,455,460,460,460,461,466

In [58]:
cases_df = cases_df.sum(axis=0).to_frame().T.copy(deep=True)

cases_df

            0
0  1500113326

In [126]:
cases_array = cases_df.to_numpy()

# this is to calculate the sum of the cases in the array using a for loop 
num_columns = cases_array.shape[1]
window_size = 7
sum = []

for i in range(0, num_columns, window_size):
    window = cases_array[:, i:i+window_size]
    window_sum = np.sum(window)
    sum.append(window_sum)

# here is for storing the sum result  
cases_sum_df = pd.DataFrame({'Sum': sum})

# the sum result is printed together with the number of weeks
for week_number, sum in enumerate(sum, start=1):
    print(f"The sum number of cases for week {week_number} was: {sum:.0f}")

The sum number of cases for week 1 was: 21939976
The sum number of cases for week 2 was: 25094668
The sum number of cases for week 3 was: 28328764
The sum number of cases for week 4 was: 31375696
The sum number of cases for week 5 was: 34111142
The sum number of cases for week 6 was: 36549300
The sum number of cases for week 7 was: 38697795
The sum number of cases for week 8 was: 40669551
The sum number of cases for week 9 was: 42623386
The sum number of cases for week 10 was: 44389524
The sum number of cases for week 11 was: 46223685
The sum number of cases for week 12 was: 48284821
The sum number of cases for week 13 was: 50373693
The sum number of cases for week 14 was: 52585445
The sum number of cases for week 15 was: 55154975
The sum number of cases for week 16 was: 58119512
The sum number of cases for week 17 was: 61712790
The sum number of cases for week 18 was: 66773020
The sum number of cases for week 19 was: 73144870
The sum number of cases for week 20 was: 81054533
The sum number of cases for week 21 was: 89548732
The sum number of cases for week 22 was: 98186570
The sum number of cases for week 23 was: 108520200
The sum number of cases for week 24 was: 119064819
The sum number of cases for week 25 was: 128626124
The sum number of cases for week 26 was: 18959735

In [51]:
deaths_df

,2020-07-05_Deaths,2020-07-06_Deaths,2020-07-07_Deaths,2020-07-08_Deaths,2020-07-09_Deaths,2020-07-10_Deaths,2020-07-11_Deaths,2020-07-12_Deaths,2020-07-13_Deaths,2020-07-14_Deaths,...,2020-12-18_Deaths,2020-12-19_Deaths,2020-12-20_Deaths,2020-12-21_Deaths,2020-12-22_Deaths,2020-12-23_Deaths,2020-12-24_Deaths,2020-12-25_Deaths,2020-12-26_Deaths,2020-12-27_Deaths
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,13,13,13,13,14,15,15,16,16,18,...,44,44,44,44,44,46,46,46,46,47
2,10,10,10,10,11,12,12,12,12,12,...,146,147,147,147,149,151,151,151,151,152
3,2,2,2,2,2,2,2,2,2,3,...,30,32,32,32,32,32,32,32,32,32
4,1,1,1,1,1,1,1,1,1,2,...,42,42,42,42,42,42,42,42,42,42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,0,0,0,0,0,0,0,0,0,1,...,15,15,15,15,15,15,15,15,15,15
3189,1,1,1,1,1,1,1,1,1,1,...,2,2,2,2,2,2,2,2,2,2
3190,0,0,0,0,0,0,0,0,0,0,...,7,7,7,7,7,7,7,7,7,7
3191,5,5,5,5,5,5,5,5,5,5,...,11,11,11,11,11,11,11,11,11,11
3192,0,0,0,0,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2

In [131]:
deaths_df = deaths_df.sum(axis=0).to_frame().T.copy(deep=True)

deaths_df   #this sums up the daily deaths columns

,2020-07-05_Deaths,2020-07-06_Deaths,2020-07-07_Deaths,2020-07-08_Deaths,2020-07-09_Deaths,2020-07-10_Deaths,2020-07-11_Deaths,2020-07-12_Deaths,2020-07-13_Deaths,2020-07-14_Deaths,...,2020-12-18_Deaths,2020-12-19_Deaths,2020-12-20_Deaths,2020-12-21_Deaths,2020-12-22_Deaths,2020-12-23_Deaths,2020-12-24_Deaths,2020-12-25_Deaths,2020-12-26_Deaths,2020-12-27_Deaths
0,131290,131791,132795,133698,134701,135632,136457,137167,137763,138819,...,319032,322343,324336,326365,328950,332017,335328,336496,338748,340430

In [132]:
death_array = deaths_df.to_numpy()

# summation of deaths in an array format using for loop
num_columns = death_array.shape[1]
window_size = 7
sum = []

for i in range(0, num_columns, window_size):
    window = death_array[:, i:i+window_size]
    window_sum = np.sum(window)
    sum.append(window_sum)

# result storage 
death_sum_df = pd.DataFrame({'Sum': sum})

# final output of sum reslts and week 
for week_number, sum in enumerate(sum, start=1):
    print(f"The sum number of deaths for week {week_number} was: {sum:.0f}")

The sum number of deaths for week 1 was: 936364
The sum number of deaths for week 2 was: 979324
The sum number of deaths for week 3 was: 1027549
The sum number of deaths for week 4 was: 1079639
The sum number of deaths for week 5 was: 1132928
The sum number of deaths for week 6 was: 1184322
The sum number of deaths for week 7 was: 1231741
The sum number of deaths for week 8 was: 1275157
The sum number of deaths for week 9 was: 1315651
The sum number of deaths for week 10 was: 1349897
The sum number of deaths for week 11 was: 1385648
The sum number of deaths for week 12 was: 1419838
The sum number of deaths for week 13 was: 1452745
The sum number of deaths for week 14 was: 1485168
The sum number of deaths for week 15 was: 1519435
The sum number of deaths for week 16 was: 1557354
The sum number of deaths for week 17 was: 1598145
The sum number of deaths for week 18 was: 1644659
The sum number of deaths for week 19 was: 1701029
The sum number of deaths for week 20 was: 1767124
The sum number of deaths for week 21 was: 1849016
The sum number of deaths for week 22 was: 1940265
The sum number of deaths for week 23 was: 2057842
The sum number of deaths for week 24 was: 2190995
The sum number of deaths for week 25 was: 2322240
The sum number of deaths for week 26 was: 340430

In [127]:
cases_array = cases_df.to_numpy()

# using for loop to calculate the mean 
num_columns = cases_array.shape[1]
window_size = 7
mean = []

for i in range(0, num_columns, window_size):
    window = cases_array[:, i:i+window_size]
    window_mean = np.mean(window)
    mean.append(window_mean)


cases_mean_df = pd.DataFrame({'Mean': mean})

# outputting the mean 
for week_number, mean in enumerate(mean, start=1):
    print(f"The mean number of cases for week {week_number} was: {mean:.0f}")

The mean number of cases for week 1 was: 3134282
The mean number of cases for week 2 was: 3584953
The mean number of cases for week 3 was: 4046966
The mean number of cases for week 4 was: 4482242
The mean number of cases for week 5 was: 4873020
The mean number of cases for week 6 was: 5221329
The mean number of cases for week 7 was: 5528256
The mean number of cases for week 8 was: 5809936
The mean number of cases for week 9 was: 6089055
The mean number of cases for week 10 was: 6341361
The mean number of cases for week 11 was: 6603384
The mean number of cases for week 12 was: 6897832
The mean number of cases for week 13 was: 7196242
The mean number of cases for week 14 was: 7512206
The mean number of cases for week 15 was: 7879282
The mean number of cases for week 16 was: 8302787
The mean number of cases for week 17 was: 8816113
The mean number of cases for week 18 was: 9539003
The mean number of cases for week 19 was: 10449267
The mean number of cases for week 20 was: 11579219
The mean number of cases for week 21 was: 12792676
The mean number of cases for week 22 was: 14026653
The mean number of cases for week 23 was: 15502886
The mean number of cases for week 24 was: 17009260
The mean number of cases for week 25 was: 18375161
The mean number of cases for week 26 was: 18959735

In [128]:
cases_array = cases_df.to_numpy()

# using for loop to calculate the median 
num_columns = cases_array.shape[1]
window_size = 7
median = []

for i in range(0, num_columns, window_size):
    window = cases_array[:, i:i+window_size]
    window_median = np.median(window)
    median.append(window_median)


cases_median_df = pd.DataFrame({'Median': median})

# outputting the median 
for week_number, median in enumerate(median, start=1):
    print(f"The median number of cases for week {week_number} was: {median:.0f}")

The median number of cases for week 1 was: 3126511
The median number of cases for week 2 was: 3577705
The median number of cases for week 3 was: 4042729
The median number of cases for week 4 was: 4478146
The median number of cases for week 5 was: 4870082
The median number of cases for week 6 was: 5219825
The median number of cases for week 7 was: 5526317
The median number of cases for week 8 was: 5807342
The median number of cases for week 9 was: 6084681
The median number of cases for week 10 was: 6333208
The median number of cases for week 11 was: 6599417
The median number of cases for week 12 was: 6894327
The median number of cases for week 13 was: 7191626
The median number of cases for week 14 was: 7504648
The median number of cases for week 15 was: 7869353
The median number of cases for week 16 was: 8289604
The median number of cases for week 17 was: 8805390
The median number of cases for week 18 was: 9518980
The median number of cases for week 19 was: 10437353
The median number of cases for week 20 was: 11551643
The median number of cases for week 21 was: 12815908
The median number of cases for week 22 was: 14010485
The median number of cases for week 23 was: 15499789
The median number of cases for week 24 was: 16998180
The median number of cases for week 25 was: 18416088
The median number of cases for week 26 was: 18959735

In [130]:
import pandas as pd 
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt


#using for loop to calculate the mode and adding stats library since mode is not part of numpy 

num_columns = cases_array.shape[1]
window_size = 7
modes = []

for i in range(0, num_columns, window_size):
    window = cases_array[:, i:i+window_size]
    window_mode, _ = stats.mode(window, axis=None, keepdims=True)  
    modes.append(window_mode[0])  

cases_mode_df = pd.DataFrame({'Mode': modes})



# outputting mode results
for week_number, mode in enumerate(modes, start=1):
    print(f"The mode number of cases for week {week_number} was: {mode:.0f}")

The mode number of cases for week 1 was: 2961395
The mode number of cases for week 2 was: 3387712
The mode number of cases for week 3 was: 3856816
The mode number of cases for week 4 was: 4303499
The mode number of cases for week 5 was: 4719867
The mode number of cases for week 6 was: 5082446
The mode number of cases for week 7 was: 5406755
The mode number of cases for week 8 was: 5689908
The mode number of cases for week 9 was: 5972021
The mode number of cases for week 10 was: 6247589
The mode number of cases for week 11 was: 6485334
The mode number of cases for week 12 was: 6763219
The mode number of cases for week 13 was: 7069807
The mode number of cases for week 14 was: 7371498
The mode number of cases for week 15 was: 7712473
The mode number of cases for week 16 was: 8110024
The mode number of cases for week 17 was: 8578637
The mode number of cases for week 18 was: 9214833
The mode number of cases for week 19 was: 10000648
The mode number of cases for week 20 was: 11071050
The mode number of cases for week 21 was: 12280817
The mode number of cases for week 22 was: 13424933
The mode number of cases for week 23 was: 14847602
The mode number of cases for week 24 was: 16363412
The mode number of cases for week 25 was: 17848765
The mode number of cases for week 26 was: 18959735

In [133]:
deaths_array = deaths_df.to_numpy()

# Calculating the death means with the same for loop 
num_columns = deaths_array.shape[1]
window_size = 7
mean = []

for i in range(0, num_columns, window_size):
    window = deaths_array[:, i:i+window_size]
    window_mean = np.mean(window)
    mean.append(window_mean)

deaths_mean_df = pd.DataFrame({'Mean': mean})

# output results 
for week_number, mean in enumerate(mean, start=1):
    print(f"The mean number of deaths for week {week_number} was: {mean:.0f}")

The mean number of deaths for week 1 was: 133766
The mean number of deaths for week 2 was: 139903
The mean number of deaths for week 3 was: 146793
The mean number of deaths for week 4 was: 154234
The mean number of deaths for week 5 was: 161847
The mean number of deaths for week 6 was: 169189
The mean number of deaths for week 7 was: 175963
The mean number of deaths for week 8 was: 182165
The mean number of deaths for week 9 was: 187950
The mean number of deaths for week 10 was: 192842
The mean number of deaths for week 11 was: 197950
The mean number of deaths for week 12 was: 202834
The mean number of deaths for week 13 was: 207535
The mean number of deaths for week 14 was: 212167
The mean number of deaths for week 15 was: 217062
The mean number of deaths for week 16 was: 222479
The mean number of deaths for week 17 was: 228306
The mean number of deaths for week 18 was: 234951
The mean number of deaths for week 19 was: 243004
The mean number of deaths for week 20 was: 252446
The mean number of deaths for week 21 was: 264145
The mean number of deaths for week 22 was: 277181
The mean number of deaths for week 23 was: 293977
The mean number of deaths for week 24 was: 312999
The mean number of deaths for week 25 was: 331749
The mean number of deaths for week 26 was: 340430

In [134]:
deaths_array = deaths_df.to_numpy()


num_columns = deaths_array.shape[1]
window_size = 7
median = []

for i in range(0, num_columns, window_size):
    window = deaths_array[:, i:i+window_size]
    window_median = np.median(window)
    median.append(window_median)


deaths_median_df = pd.DataFrame({'Median': median})


for week_number, median in enumerate(median, start=1):
    print(f"The median number of deaths for week {week_number} was: {mean:.0f}")

The median number of deaths for week 1 was: 340430
The median number of deaths for week 2 was: 340430
The median number of deaths for week 3 was: 340430
The median number of deaths for week 4 was: 340430
The median number of deaths for week 5 was: 340430
The median number of deaths for week 6 was: 340430
The median number of deaths for week 7 was: 340430
The median number of deaths for week 8 was: 340430
The median number of deaths for week 9 was: 340430
The median number of deaths for week 10 was: 340430
The median number of deaths for week 11 was: 340430
The median number of deaths for week 12 was: 340430
The median number of deaths for week 13 was: 340430
The median number of deaths for week 14 was: 340430
The median number of deaths for week 15 was: 340430
The median number of deaths for week 16 was: 340430
The median number of deaths for week 17 was: 340430
The median number of deaths for week 18 was: 340430
The median number of deaths for week 19 was: 340430
The median number of deaths for week 20 was: 340430
The median number of deaths for week 21 was: 340430
The median number of deaths for week 22 was: 340430
The median number of deaths for week 23 was: 340430
The median number of deaths for week 24 was: 340430
The median number of deaths for week 25 was: 340430
The median number of deaths for week 26 was: 340430

In [136]:
import pandas as pd 
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt

#using the same modal calulation technique in the cases for the deaths 

num_columns = deaths_array.shape[1]
window_size = 7
modes = []

for i in range(0, num_columns, window_size):
    window = deaths_array[:, i:i+window_size]
    window_mode, _ = stats.mode(window, axis=None, keepdims=True)  
    modes.append(window_mode[0])  

deaths_mode_df = pd.DataFrame({'Mode': mode})




for week_number, mode in enumerate(modes, start=1):
    print(f"The mode number of death for week {week_number} was: {mode:.0f}")

The mode number of death for week 1 was: 131290
The mode number of death for week 2 was: 137167
The mode number of death for week 3 was: 143630
The mode number of death for week 4 was: 150928
The mode number of death for week 5 was: 158716
The mode number of death for week 6 was: 166028
The mode number of death for week 7 was: 173212
The mode number of death for week 8 was: 179465
The mode number of death for week 9 was: 185567
The mode number of death for week 10 was: 190933
The mode number of death for week 11 was: 195644
The mode number of death for week 12 was: 200699
The mode number of death for week 13 was: 205577
The mode number of death for week 14 was: 210180
The mode number of death for week 15 was: 215078
The mode number of death for week 16 was: 219891
The mode number of death for week 17 was: 225625
The mode number of death for week 18 was: 231696
The mode number of death for week 19 was: 239188
The mode number of death for week 20 was: 247841
The mode number of death for week 21 was: 258842
The mode number of death for week 22 was: 270297
The mode number of death for week 23 was: 286289
The mode number of death for week 24 was: 304522
The mode number of death for week 25 was: 324336
The mode number of death for week 26 was: 340430

In [4]:
import pandas as pd 
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt


mascase = pd.read_csv(r"C:\Users\mawul\Downloads\ProjectDataStage1.csv")

mascase

#importing another fresh data set the comparison

,Unnamed: 0,countyFIPS,County Name,State,population,2020-01-22_Cases,2020-01-23_Cases,2020-01-24_Cases,2020-01-25_Cases,2020-01-26_Cases,...,2023-07-14_Deaths,2023-07-15_Deaths,2023-07-16_Deaths,2023-07-17_Deaths,2023-07-18_Deaths,2023-07-19_Deaths,2023-07-20_Deaths,2023-07-21_Deaths,2023-07-22_Deaths,2023-07-23_Deaths
0,0,0,Statewide Unallocated,AL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1001,Autauga County,AL,55869,0,0,0,0,0,...,235,235,235,235,235,235,235,235,235,235
2,2,1003,Baldwin County,AL,223234,0,0,0,0,0,...,731,731,731,731,731,731,731,731,731,731
3,3,1005,Barbour County,AL,24686,0,0,0,0,0,...,104,104,104,104,104,104,104,104,104,104
4,4,1007,Bibb County,AL,22394,0,0,0,0,0,...,111,111,111,111,111,111,111,111,111,111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,3188,56033,Sheridan County,WY,30485,0,0,0,0,0,...,142,142,142,142,142,142,142,142,142,142
3189,3189,56035,Sublette County,WY,9831,0,0,0,0,0,...,16,16,16,16,16,16,16,16,16,16
3190,3190,56037,Sweetwater County,WY,42343,0,0,0,0,0,...,43,43,43,43,43,43,43,43,43,43
3191,3191,56039,Teton County,WY,23464,0,0,0,0,0,...,51,51,51,51,51,51,51,51,51,51
3192,3192,56041,Uinta County,WY,20226,0,0,0,0,0,...,24,24,24,24,24,24,24,24,24,24

In [5]:
mascase1= mascase.copy() #making a copy of the data

In [6]:
mascase2 = pd.DataFrame(mascase1)# putting it in a data frame

In [8]:

#dropping the unncessary dates 

columns_to_drop = [col for col in mascase2.columns if (('2020-01-22' <= col <= '2020-07-05') or ('2020-12-28' <= col)) and
                                                  (('Cases' in col) or ('Deaths' in col))]


mascase2.drop(columns=columns_to_drop, inplace=True)

In [9]:
mascase2[mascase2['State'].str.contains('MA')] #filtering out the state of Massachusetts

,Unnamed: 0,countyFIPS,County Name,State,population,2020-07-05_Cases,2020-07-06_Cases,2020-07-07_Cases,2020-07-08_Cases,2020-07-09_Cases,...,2020-12-18_Deaths,2020-12-19_Deaths,2020-12-20_Deaths,2020-12-21_Deaths,2020-12-22_Deaths,2020-12-23_Deaths,2020-12-24_Deaths,2020-12-25_Deaths,2020-12-26_Deaths,2020-12-27_Deaths
1239,1239,0,Statewide Unallocated,MA,0,1557,1561,1561,1563,1566,...,213,215,217,217,217,217,226,217,217,217
1240,1240,25001,Barnstable County,MA,212990,602,604,604,604,609,...,116,117,119,119,119,119,125,119,119,119
1241,1241,25003,Berkshire County,MA,124944,8321,8331,8348,8365,8399,...,989,993,995,995,995,995,1016,995,995,995
1242,1242,25005,Bristol County,MA,565217,51,51,51,53,55,...,0,0,0,0,0,0,0,0,0,0
1243,1243,25007,Dukes County,MA,17332,16254,16283,16318,16342,16379,...,1569,1578,1586,1586,1586,1586,1625,1586,1586,1586
1244,1244,25009,Essex County,MA,789034,373,373,373,376,381,...,82,82,84,84,84,84,88,84,84,84
1245,1245,25011,Franklin County,MA,70180,6870,6883,6895,6903,6932,...,991,994,1003,1003,1003,1003,1024,1003,1003,1003
1246,1246,25013,Hampden County,MA,466372,985,985,986,991,993,...,179,181,181,181,181,181,184,181,181,181
1247,1247,25015,Hampshire County,MA,160830,24153,24193,24243,24300,24348,...,2573,2582,2597,2597,2597,2597,2644,2597,2597,2597
1248,1248,25017,Middlesex County,MA,1611699,20,20,20,21,22,...,2,2,2,2,2,2,2,2,2,2
1249,1249,25019,Nantucket County,MA,11399,9273,9284,9306,9339,9384,...,1237,1243,1247,1247,1247,1247,1262,1247,1247,1247
1250,1250,25021,Norfolk County,MA,706775,8740,8748,8757,8765,8777,...,951,955,959,959,959,959,972,959,959,959
1251,1251,25023,Plymouth County,MA,521202,19985,20014,20048,20120,20172,...,1310,1312,1315,1315,1315,1315,1341,1315,1315,1315
1252,1252,25025,Suffolk County,MA,803907,12499,12515,12534,12562,12583,...,1392,1397,1406,1406,1406,1406,1448,1406,1406,1406
1253,1253,25027,Worcester County,MA,830622,4397,4421,4437,4442,4346,...,123,125,125,127,129,129,129,129,134,134

In [10]:
cases_df = mascase2.filter(like='Cases', axis=1)  #only cases columns 
deaths_df = mascase2.filter(like='Deaths', axis=1)   # only deaths columns

In [11]:
cases_df = cases_df.sum(axis=0).to_frame().T.copy(deep=True) #summation of daily cases column wise 

cases_df

,2020-07-05_Cases,2020-07-06_Cases,2020-07-07_Cases,2020-07-08_Cases,2020-07-09_Cases,2020-07-10_Cases,2020-07-11_Cases,2020-07-12_Cases,2020-07-13_Cases,2020-07-14_Cases,...,2020-12-18_Cases,2020-12-19_Cases,2020-12-20_Cases,2020-12-21_Cases,2020-12-22_Cases,2020-12-23_Cases,2020-12-24_Cases,2020-12-25_Cases,2020-12-26_Cases,2020-12-27_Cases
0,2961395,3005789,3063072,3126511,3192412,3262685,3328112,3387712,3442018,3511610,...,17469570,17685162,17848765,18010051,18204174,18416088,18609135,18704673,18833238,18959735

In [12]:
deaths_df = deaths_df.sum(axis=0).to_frame().T.copy(deep=True) #summation of daily deaths column wise 


deaths_df

,2020-07-05_Deaths,2020-07-06_Deaths,2020-07-07_Deaths,2020-07-08_Deaths,2020-07-09_Deaths,2020-07-10_Deaths,2020-07-11_Deaths,2020-07-12_Deaths,2020-07-13_Deaths,2020-07-14_Deaths,...,2020-12-18_Deaths,2020-12-19_Deaths,2020-12-20_Deaths,2020-12-21_Deaths,2020-12-22_Deaths,2020-12-23_Deaths,2020-12-24_Deaths,2020-12-25_Deaths,2020-12-26_Deaths,2020-12-27_Deaths
0,131290,131791,132795,133698,134701,135632,136457,137167,137763,138819,...,319032,322343,324336,326365,328950,332017,335328,336496,338748,340430